---
import { Image } from 'astro:assets'
import Flyer from '~/../public/images/billis-car-wash-flyer.png'

import CarWash from '~/assets/services/carwash.avif'
import InnenReinigung from '~/assets/services/innenreinigung.jpg'
import Politur from '~/assets/services/politur.avif'
import KomplettReinigung from '~/assets/services/komplettreinigung.jpg'
import Dampfreinigung from '~/assets/services/dampfreinigung.avif'
import MotorWash from '~/assets/services/motorwash.jpg'

---
<!-- Services Section -->

<div class="max-w-[800px] mx-auto mt-[-100px] border-10 border-white bg-white rounded shadow-lg relative z-2">
	<Image src={Flyer} alt="Billis Car Wash Flyer" class="w-full rounded relative z-2" />
</div>

<div class="h-[50px]" />

<section class="mt-10" id="services">
	<div class="text-center mb-12">
		<h2 class="title mb-4">Unsere Dienstleistungen</h2>
		<p class="text-lg max-w-xl mx-auto text-neutral-600">Von der einfachen Autowäsche bis zur kompletten Fahrzeugaufbereitung - wir bieten Ihnen erstklassigen Service in Schorndorf.</p>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-[1400px] mx-auto">
		<div class="card">
			<div class="service-img" style={`background-image: url(${CarWash.src})`} />
			<div class="service-content">
				<h3 class="font-medium">Autowäsche</h3>
				<p>Gründliche Außenreinigung mit hochwertigen Produkten für einen perfekten Glanz ohne Kratzer. Ideal für die regelmäßige Pflege.</p>
			</div>
		</div>
		<div class="card">
			<div class="service-img" style={`background-image: url(${InnenReinigung.src})`} />
			<div class="service-content">
					<h3 class="font-medium">Premium Innenreinigung</h3>
					<p>Tiefenreinigung des Innenraums inklusive Polster, Teppiche und schwer zugänglicher Bereiche. Für ein frisches Fahrgefühl.</p>
			</div>
		</div>
		<div class="card">
			<div class="service-img" style={`background-image: url(${Politur.src})`} />
			<div class="service-content">
					<h3 class="font-medium">Profi-Politur</h3>
					<p>Entfernung von Kratzern und Swirls, Wiederherstellung des ursprünglichen Glanzes Ihres Lacks. Perfekt für ältere Fahrzeuge.</p>
			</div>
		</div>
		<div class="card">
			<div class="service-img" style={`background-image: url(${KomplettReinigung.src})`} />
			<div class="service-content">
				<h3 class="font-medium">Komplettaufbereitung</h3>
				<p>Das Rundum-Sorglos-Paket für Ihr Fahrzeug - innen wie außen wieder wie neu. Ideal vor dem Verkauf oder für Liebhaberfahrzeuge.</p>
			</div>
		</div>

		<div class="card">
			<div class="service-img" style={`background-image: url(${Dampfreinigung.src})`}></div>
			<div class="service-content">
				<h3 class="font-medium">Dampfreinigung</h3>
				<p>Das Rundum-Sorglos-Paket für Ihr Fahrzeug - innen wie außen wieder wie neu. Ideal vor dem Verkauf oder für Liebhaberfahrzeuge.</p>
			</div>
		</div>	

		<div class="card">
			<div class="service-img" style={`background-image: url(${MotorWash.src})`} />
			<div class="service-content">
				<h3 class="font-medium">Motorwäsche</h3>
				<p>Das Rundum-Sorglos-Paket für Ihr Fahrzeug - innen wie außen wieder wie neu. Ideal vor dem Verkauf oder für Liebhaberfahrzeuge.</p>
			</div>
		</div>		

		
		
	</div>
</section>